// ОПИСАНИЕ ТАБЛИЦ
@import "../_color";
@import "../_mixin";

.kv-table-control {

  ._init_block();

  /* region clone table */
  .table-wrapper_fixed {
    position: fixed;
    top: 0;
    display: none;
    background: inherit;
    margin: 0 15px;
  }

  /* endregion */

  .table-wrapper {

    width: ~"calc(100% - 2px)";
    font-size: @font-size-default;
    table-layout: fixed;

    &__filter-panel {
      display: none;
      th {
        input {
          width: 100%;
          height: 24px;
          outline: none;
        }
      }
    }

    &__header-wrapper {
      cursor: pointer;
      th {
        position: relative;
        min-width: 50px;
      }
    }

    &__content-wrapper {
      cursor: default;
      background-color: @color-white;

      tr {

        &:hover {
          background-color: @color-search;
          td {
            border-color: @color-header;
          }
          color: @color-hover-active;
        }

        &:focus {
          outline: none;
          background: @color-search;
          td {
            border-color: @color-header;
          }

          &:hover {
            background: @color-search;
            td {
              border-color: @color-hover-active;
            }
          }
        }
      }
    }

    /* region toolbar */
    &__toolbar-wrapper {
      th {
        border: 1px solid @color-body;
        padding: 10px 0 0;
        margin: 0;

      }
      // buttons toolbar
      .toolbar-wrapper__button {
        position: relative;
        outline: none;
        font-size: @font-size-default;
        background: inherit;
        border: 1px solid @color-border;
        color: @color-border;
        border-radius: 100px;
        padding-left: 20px;

        .glyphicon {
          position: absolute;
          left: 4px;
          top: 4px;
        }

        &:hover {
          border-color: @color-hover-active;
          color: @color-hover-active;
        }
      }
    }
    /* endregion */

    .space-row {
      border: none;
      td {
        border: none;
        height: 2px;
        padding: 0;
        margin: 0;
      }
    }

    td, th .column .title {

      ._ellipsis();
    }

    td {
      padding: 5px;
      border: 1px solid @color-border;
    }

    th {
      padding: 5px 0;

      .column {
        position: relative;
        padding: 5px 0;
        margin: 0 5px;
        border-bottom: 1px solid @color-border;

        &:hover {
          border-bottom: 1px solid @color-hover-active;
        }

        .title {
          width: ~"calc(100% - 25px)";
          padding-right: 2px;
        }

        .arrows {
          height: 12px;

          position: absolute;
          right: 0;

          .glyphicon {
            color: @color-border;

            &:hover {
              color: @color-hover-active;
            }
          }

          .glyphicon-sort-by-attributes-alt {
            display: none;
          }

          .glyphicon-sort-by-attributes {

          }

          .glyphicon-filter {
            &:hover {
              color: orange;
            }
          }
        }
      }

      .asc, .desc {
        .arrows {
          .glyphicon-sort-by-attributes-alt,
          .glyphicon-sort-by-attributes {
            color: @color-hover-active;
          }
        }

        .title {
          color: @color-hover-active;
        }

        border-bottom-color: @color-hover-active;
      }

      .desc {
        .arrows {
          .glyphicon-sort-by-attributes {
            display: none;
          }
          .glyphicon-sort-by-attributes-alt {
            display: inline;
          }
        }
      }

      .asc {
        .arrows {
          .glyphicon-sort-by-attributes {
            display: inline;
          }
          .glyphicon-sort-by-attributes-alt {
            display: none;
          }
        }
      }
    }

    .indicator__checkbox {
      .column {
        display: inline-block;
      }
    }

    .indicator {
      position: relative;
      text-align: center;
      width: 30px;

      ._check_box();

      label {
        top: 5px !important;
        left: 8px !important;
      }

      .title {
        width: 100% !important;
      }
    }

    .table-btn-load, .table-load {
      td {
        padding-top: 15px;
        border: none;
        text-align: center;
      }
    }
  }

  .defaults-fields {
    th {
      border: none;
      height: 0;
      padding: 0;
    }
  }

  /* region theme-requests */

  .not-table-data {
    text-align: center;

    td, td:hover {
      padding: 10px;
      color: black;
    }
  }

  .toolbar {
    th {
      height: 25px;
    }
    .load-panel {
      img {
        width: 20px;
        margin: 15px !important;
      }
    }
  }

  .kv-grid-toolbar {
    position: relative;
    padding: 0 !important;

    .kv-toolbar-control {
      padding: 0;
      margin: 0;
    }

    .kv-load-panel-control {
      position: absolute;
      right: 0;
      top: 5px;
      margin-right: 0;
    }
  }
}

/* endregion */