script#kv-table-control(type="text/ractive")
    .kv-table-control(id!="<{{._id}}>" name!="<{{.name}}>" class!="<{{.class}}>")
        table.table-wrapper.table-wrapper_theme
            thead.table-wrapper__header-wrapper
                tr.defaults-fields
                    th.indicator(style="max-width: 10px")
                    <{{#each .columns:idx}}>
                    th(class!="<{{_id}}>-<{{.field}}>-column" style!="<{{#if .width > 0}}> width: <{{.width}}>px;<{{/if}}>")
                    <{{/each}}>
                tr
                    th.kv-grid-toolbar(colspan!="<{{.columns.length + 1}}>")
                        gridToolbar(name!="<{{.name}}>__toolbar" class="kv-hidden")
                            gridBtnRefresh(value!="<{{ @this.t('dataGrid.refresh_data') }}>"
                            icon="refresh" placeholder!="<{{ @this.t('dataGrid.placeholder_refresh_data') }}>")
                            exportsBtn(name!="<{{.name}}>_exports")
                            sharedBtn(name!="<{{.name}}>_shared" urlAdd!="<{{.urlAdd}}>" urlEdit!="<{{.urlEdit}}>")
                        <{{#if ._isLoading == true}}>
                        gridLoadPanel(name!="loadPanel_<{{.name}}>")
                        <{{/if}}>
                tr
                    th.indicator
                        .column
                            .title
                             | #
                    <{{#each .columns:idx}}>
                    th(class!="<{{_id}}>-<{{.field}}>-column")
                        .column
                            .arrows
                                <{{#if .filter}}>
                                span.glyphicon.glyphicon-filter(on-click="clickColumnBtnFilter")
                                <{{/if}}>
                                <{{#if .sort }}>
                                    span.glyphicon.glyphicon-sort-by-attributes-alt(on-click="clickColumn")
                                    span.glyphicon.glyphicon-sort-by-attributes(on-click="clickColumn")
                                <{{/if}}>
                            .title
                                <{{.caption}}>

                    <{{/each}}>
                tr.table-wrapper__filter-panel
                    th.column
                    <{{#each .columns:idx}}>
                    th.column
                        <{{#if .filter}}>
                        input(type="text" on-keydown="enterKeyDownFilter")
                        <{{/if}}>
                    <{{/each}}>
            tbody.table-wrapper__content-wrapper
                <{{#each .items:rowIdx}}>
                tr(id!="<{{_id}}>__item-<{{.id}}>" tabindex!="<{{rowIdx + 1}}>" on-click="clickRow")
                    td.indicator
                        input(id!="<{{_id}}>__check-box__<{{.id}}>" type="checkbox" on-click="clickCheckBox")
                        label(for!="<{{_id}}>__check-box__<{{.id}}>")
                    <{{#each columns:columnIdx}}>
                    td(class!="<{{_id}}>-<{{.field}}>-column")
                        <{{#if .cellTemplate }}>
                            <{{>field}}>
                        <{{else}}>
                            <{{items[rowIdx][.field]}}>
                        <{{/if}}>
                    <{{/each}}>
                tr.space-row
                    td(colspan!="<{{columns.length + 1}}>")
                <{{/each}}>
                <{{ #if .items.length == 0 && !._isLoading }}>
                tr.not-table-data
                    td(colspan!="<{{.columns.length + 1}}>")
                        | <{{ @this.t('dataGrid.not_found') }}>
                <{{/if}}>