@import "../_color";
@import "../_mixin";

@width: ~"calc(100% - 30px)";

.kv-lookup-control {
  position: relative;
  ._init_block();
  border-radius: 4px;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    text-align: left;
  }

  .kv-field-btn-control {
    width: 100%;
    margin: 0;

    .kv-field-control {
      margin: 0;
      width: @width;

      input {
        height: 35px;
        border-radius: 0!important;
      }
    }

    .kv-btn-control {
      position: absolute;
      right: 0;
      margin: 0;
      height: 35px;
      padding-right: 8px;
      padding-left: 8px;

      .glyphicon {
        padding-bottom: 5px;
        margin: 0;
      }

      .btn-caption {
        padding-left: 0;
      }
    }
  }

  .kv-dropdown {
    box-sizing: border-box;
    width: @width;
    z-index: 5;
    overflow-y: scroll;
    max-height: 165px;
    background: @color-white;
    position: absolute;
    top: 34px;
    border: 1px solid gray;

    .kv-lookup-control__item {
      cursor: pointer;
      padding: 8px 10px 5px 10px;

      ._ellipsis();

      &:hover {
        background: @color-search;
        color: @color-white;
      }
    }

    .kv-lookup-control__empty {
      text-align: left;
      background: @color-white;
    }
  }

  .kv-extend__info {
    display: none;
    background: lightgoldenrodyellow;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: @width;
    text-align: right;

    .kv-load-panel-control {
      margin-top: 0;
      margin-bottom: 0;

      .kv-load-panel-control {
        margin-top: 2px !important;
        margin-bottom: 2px !important;
      }
    }
  }
}
