script#kv-lookup-control(type="text/ractive")
    .kv-lookup-control(id!="<{{._id}}>" class!="<{{.class}}>")
        ul
            li
                fieldBtnControl(name!="<{{.name}}>" placeholder!="<{{.placeholder}}>")
            ul.kv-dropdown
                <{{#if ._isOpen }}>
                    <{{#each .items:idx}}>
                    li.kv-lookup-control__item(id!="<{{.[key]}}>" on-click="clickItem")
                        <{{.[text]}}>
                    <{{/each}}>
                    <{{#if .items.length === 0}}>
                    li.kv-lookup-control__item.kv-lookup-control__empty
                        | <{{ @this.t('lookup.not_found') }}>
                    <{{/if}}>
                    <{{#if ._isLoading && ._isOpen}}>
                    li.kv-extend__info
                        loadPanel(name!="loadPanel_<{{.name}}>")
                    <{{/if}}>
                <{{/if}}>
            <{{#if !._empty }}>
            span.kv-alert-msg <{{ @this.t('fieldControl.require') }}>
            <{{/if}}>