#info.section-wrapper.info-wrapper
    <{{>info}}>
#portfolio.section-wrapper.portfolio-wrapper
    <{{>portfolio}}>
#works.section-wrapper.works-wrapper
    <{{>works}}>
#company.section-wrapper.company-wrapper
    <{{>company}}>
#site.section-wrapper.site-wrapper
    <{{>site}}>
#advantages.section-wrapper.advantages-wrapper
    <{{>advantages}}>
#services.section-wrapper.services-wrapper
    <{{>services}}>