script#kv-image-control(type="text/ractive")
    .kv-image-control(id!="<{{._id}}>" name!="<{{.name}}>")
        img(class!="<{{.class}}>"
        src!="<{{.url}}>"
        alt!="<{{._alt}}>"
        onerror="this.src='/img/camera.png'")