script#kv-social-control(type="text/ractive")
    .kv-social-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        <{{#if .isYt}}>
        a(href="")
            image(url="/img/yt.svg")
        <{{/if}}>
        <{{#if .isFB}}>
        a(href="")
            image(url="/img/fb.svg")
        <{{/if}}>
        <{{#if .isVK}}>
        a(href="")
            image(url="/img/vk.svg")
        <{{/if}}>
        <{{#if .isTW}}>
        a(href="")
            image(url="/img/tw.svg")
        <{{/if}}>
        <{{#if .isOD}}>
        a(href="")
            image(url="/img/ok.svg")
        <{{/if}}>