@import "../_color";
@import "../_mixin";

.kv-social-control {
  ._init_block();

  .kv-image-control {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    width: 44px;
    height: 44px;
  }
}