html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
        title DEMO controls
        link(rel="icon" href="/img/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/components.css")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.3/require.min.js" charset="utf-8")
        script(type="text/javascript" src="/js/require.main.js" charset="utf-8")
        script(type="text/javascript" src="/js/app.js")
    body
        div#demo

        script#demo-wrapper(type="text/ractive")

            browser(name="browserDemo")
                .section-header
                    menu.kv-menu-theme(name="menuDemo" fixed="true" visible_lang="false" logoUrl="/img/logo.svg" class=""
                    items!="[{caption: '<{{ @this.t('menu_top.portfolio') }}>', icon: 'home', url: '/profile'}," +
                    "{caption: '<{{ @this.t('menu_top.expenses') }}>', icon: 'th-list', url: '/contact'}," +
                    "{caption: '<{{ @this.t('menu_top.blog') }}> 2', icon: 'comment', url: '/'}," +
                    "{caption: '<{{ @this.t('menu_top.clients') }}>', icon: 'question-sign', url: '#clients', items: [{caption: 'Test link 1', url: '#test_1'}," +
                    "{caption: 'Test link 2', url: '#test_2', items: [{caption: 'Test link 2.1', icon: 'th-list', url: '#test_2_1'},{caption: 'Test link 2.2', url: '#test_2_2'}," +
                    "{caption: 'Test link 2.3', url: '#test_2_3', items: [{caption: 'Test link 2.3.1', icon: 'signal', url: '#test_2_3_1'},{caption: 'Test link 2.3.2', icon: 'cog', url: '#test_2_3_2', items: [{caption: 'Test link 2.3.1.1', icon: 'signal', url: '#test_2_3_1'},{caption: 'Test link 2.3.1.2', icon: 'cog', url: '#test_2_3_2'}]}]}," +
                    "{caption: 'Test link 2.4', url: '#test_2_4'}]},{caption: 'Test link 3', url: '#test_3'}]}," +
                    "{caption: '<{{ @this.t('menu_top.company') }}>', icon: 'comment', url: '#company', items: [{caption: 'Test link 22', url: '#test_22', items: [{caption: 'Test link 22.1', icon: 'th-list', url: '#test_22_1'}]}]}," +
                    "{caption: '<{{ @this.t('menu_top.contacts') }}>', icon: 'comment', url: '#contacts'}," +
                    "{caption: '<{{ @this.t('menu_top.blog') }}> 1', icon: 'comment', url: '#blog'}," +
                    "{caption: '<{{ @this.t('menu_top.blog') }}> 3', icon: 'comment', url: '#blog'}]"
                    items_right!="[{caption: '<{{ @this.t('menu_top.contact') }}>', icon: 'earphone', url: './contact'}," +
                    "{caption: '<{{ @this.t('menu_top.sign') }}>', icon: 'log-in', url: '/auth', items: [{caption: 'Выйти', icon: 'th-list', url: '#expences'}, {caption: 'Профиль', icon: 'th-list', url: '/profile'}   ]}]")
                #kv-view
                    <{{>kv_view}}>
                .footer-wrapper
                    #footer-menu.footer-section-wrapper
                        .footer-menu-wrapper
                            linkControl(value!="<{{ @this.t('footer.portfolio') }}>")
                            linkControl(value!="<{{ @this.t('footer.expenses') }}>")
                            linkControl(value!="<{{ @this.t('footer.clients') }}>")
                            linkControl(value!="<{{ @this.t('footer.company') }}>")
                            linkControl(value!="<{{ @this.t('footer.contacts') }}>")
                            linkControl(value!="<{{ @this.t('footer.blog') }}>")
                        .footer-address-wrapper
                            span
                                a(href="mailto:<{{ @this.t('footer.address.mail') }}>") <{{ @this.t('footer.address.mail') }}>
                            span <{{ @this.t('footer.address.phone_1') }}>
                            span <{{ @this.t('footer.address.phone_2') }}>
                            span <{{ @this.t('footer.address.text') }}>
                        .social-wrapper
                            span <{{ @this.t('footer.social.title') }}>
                            social(name="socialBtns")
                        .footer-section-wrapper.license-wrapper
                            span <{{{ @this.t('footer.license') }}}>
    script(src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript")
