script#kv-check-box-control(type="text/ractive")
    .kv-check-box-control(class!="<{{.class}}>" name!="<{{.name}}>")
        input(id!="<{{._id}}>" type="checkbox" on-click="clickCheck")
        label(for!="<{{._id}}>") <{{.caption}}>