@import "../_color";
@import "../_mixin";

.kv-check-box-control {

  ._init_block();
  margin-top: 8px;

  position: relative;
  display: block;

  label {
    left: 0;
    cursor: pointer;
    width: 100%;
    margin: 0;
    font-size: @font-size-default;
    font-weight: normal;
    text-align: left;
    padding-left: 35px;

    ._ellipsis();

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: 28px;
      height: 18px;
      border-radius: 14px;
      background: #CDD1DA;
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 2px;
      width: 14px;
      height: 14px;
      border-radius: 10px;
      background: @color-body;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
      transition: all .2s;
    }
  }

  input {
    position: relative;
    left: 0;
    top: 0;
    cursor: pointer;
    margin-top: 0;
    width: 14px;
    height: 14px;

    &:not(checked) {
      position: absolute;
      opacity: 0;
    }

    &:checked {
      + label {
        &:before {
          background: @color-search;
        }
        &:after {
          left: 12px;
        }
      }
    }
  }
}

.kv-check-box-control__circle {

  label {

    padding-left: 25px;

    &:before {
      width: 18px;
    }

    &:after {
      top: 2px;
      left: 4px;
      width: 10px;
      height: 10px;
    }
  }

  input:checked {
    + label:after {
      left: 4px;
    }
  }
}