script#kv-shared-btn-control(type="text/ractive")
    .kv-shared-btn-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        button(name!="<{{.name}}>_add" icon="plus" value="" placeholder!="<{{ @this.t('sharedBtn.btn_add_caption') }}>")
        button(name!="<{{.name}}>_edit" icon="pencil" value="" placeholder!="<{{ @this.t('sharedBtn.btn_edit_caption') }}>")
        button(name!="<{{.name}}>_del" icon="trash" value="" placeholder!="<{{ @this.t('sharedBtn.btn_del_caption') }}>")
        button(name!="<{{.name}}>_copy" icon="copy" value="" placeholder!="<{{ @this.t('sharedBtn.btn_copy_caption') }}>")
        button(name!="<{{.name}}>_paste" icon="paste" value="" placeholder!="<{{ @this.t('sharedBtn.btn_past_caption') }}>")
    dialog(modal="true" name!="<{{.name}}>_dialog")