@import "../_color";
@import "../_mixin";
@import "../_global";

.kv-shared-btn-control {

  ._init_block();

  .kv-btn-control {
    ._btn-circuit();
  }

  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;

  ._btn_icon();
}