script#kv-datepicker-control(type="text/ractive")
    .kv-datepicker-control(class!="<{{.class}}>" id!="<{{._id}}>")
        fieldBtnControl(name!="<{{.name}}>" _icon="calendar" placeholder="dd.mm.yyyy")