@import "../_color";
@import "../_mixin";

.kv-datepicker-control {
  position: relative;

  ._init_block();

  .kv-field-btn-control {
    margin: 0;

    .kv-btn-control {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .datepicker {
    z-index: 10;
    border-bottom: 1px solid @color-header;
    position: absolute;
    margin-bottom: 5px;

    .table-condensed {
      max-width: 220px;
      background: @color-white;

      thead {
        th {
          cursor: pointer;
        }
      }
      tbody {
        td, th {
          cursor: pointer;
          text-align: center;
          &:hover {
            color: @color-white;
            background: @color-search;
          }
        }
      }
    }
    * {
      font-size: @font-size-default !important;
    }
  }

  .datepicker-switch {
    text-align: center;
  }

  .next {
    text-align: right;
  }

  .glyphicon {
    padding-bottom: 5px;
    margin: 0;
  }

  .year, .mouth {
    padding: 2px!important;
  }

}