fieldControl(name="field_1" placeholder!="<{{ @this.t('services.dialog.placeholder_name') }}>" validate="isEmpty")
lookup(
name="lookup_1"
placeholder!="<{{ @this.t('services.dialog.placeholder_theme') }}>"
items="[{id: 1, name: 'Тема первая'}," +
"{id: 2, name: 'Тема вторая'}," +
"{id: 3, name: 'Тема третья'}," +
"{id: 4, name: 'Тема четвертая'}" +
"]"
)
fieldControl(name="field_2" placeholder!="<{{ @this.t('services.dialog.placeholder_phone') }}>" mask="isMaskMobilePhone"
validate="isEmpty")
memo(name="memo_1" placeholder!="<{{ @this.t('services.dialog.placeholder_msg') }}>")
checkBox(name="check_1" caption!="<{{ @this.t('services.dialog.placeholder_agree') }}>")