script#kv-dialog-control(type="text/ractive")
    div(class!="<{{#if .modal === true}}>kv-modal-dialog-control kv-hidden<{{else}}>kv-dialog-control<{{/if}}> <{{.class}}>"
        id!="<{{._id}}>"
        name!="<{{.name}}>")
        form
            .kv-dialog-control__header-wrapper
                dialogTitle(value!="<{{.caption}}>")
            .kv-dialog-control__content-wrapper
                <{{>content}}>
            .kv-dialog-control__buttons-wrapper
                dialogBtnEnter(value!="<{{.btnOk}}>")
                dialogBtnCancel(value!="<{{ @this.t('dialog.btn_cancel') }}>")