@import "../_color";
@import "../_mixin";
@import "screen_768";

/* region Модальный диалог */
.kv-dialog-control {

  ._init_block();

  form {
    margin: 0;
  }

  &__header-wrapper {
    padding: 15px 5px;

    border-bottom: 1px solid @color-search;

    .kv-label-control {
      margin-left: 0;
      label {
        font-family: 'Elektra Light Pro', serif;
        font-weight: normal;
        font-size: @font-size-default + 2px;
        color: @color-hover-active;
      }
    }
  }

    &__content-wrapper {
    position: relative;
  }

  &__buttons-wrapper {
    margin: 5px 10px;
    border-top: 1px solid @color-border;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: right;

    .kv-btn-control {
      ._btn-circuit();
    }
  }
}

/* endregion */

/* region Модальный диалог */
.kv-modal-dialog-control {

  ._init_block();

  position: fixed;
  background: @color-body;
  z-index: 100;
  width: 60%;
  top: 15%;
  left: 20%;

  ._shadow();

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  form {
    display: block;
    margin: 0;
  }

  &__header-wrapper {
    padding-top: 5px;
    ._init_block();

    overflow: hidden;
    border-bottom: 1px solid @color-search;

    .kv-label-control {
      margin-left: 0;
      label {
        font-family: 'Elektra Light Pro', serif;
        font-weight: normal;
        font-size: @font-size-default + 2px;
        color: @color-hover-active;
      }
    }
  }

  &__content-wrapper {
    overflow: hidden;
    position: relative;

    ._init_block();
  }

  &__buttons-wrapper {
    margin: 5px 10px;
    border-top: 1px solid @color-border;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: right;

    ._btn-circuit();
  }
}

/* endregion */

.kv-modal-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0.5;
  background: @color-hover-active;
}