div.kv-col
    div.command-wrapper
        image.avatar(url="/img/site1.jpeg")
        label(value!="<{{ @this.t('company.tab_command.face_1.fio') }}>")
        span
            | <{{ @this.t('company.tab_command.face_1.position') }}>
            br
            strong <{{ @this.t('company.tab_command.face_1.experience') }}>
div.kv-col-2
    div.command-wrapper
        image.avatar(url="/img/site1.jpeg")
        label(value!="<{{ @this.t('company.tab_command.face_2.fio') }}>")
        span
            | <{{ @this.t('company.tab_command.face_2.position') }}>
            br
            strong <{{ @this.t('company.tab_command.face_2.experience') }}>
div.kv-col-2
    div.command-wrapper
        image.avatar(url="/img/site1.jpeg")
        label(value!="<{{ @this.t('company.tab_command.face_3.fio') }}>")
        span
            | <{{ @this.t('company.tab_command.face_3.position') }}>
            br
            strong <{{ @this.t('company.tab_command.face_3.experience') }}>
div.kv-col
    carousel(name="tabCarousel" delay=5000 play='true')
        slide(name="slide_1" content="text!/slides/slide_1.html")
        slide(name="slide_2" content="text!/slides/slide_2.html")
        slide(name="slide_3" content="text!/slides/slide_3.html")
        slide(name="slide_4" content="text!/slides/slide_4.html")
        slide(name="slide_5" content="text!/slides/slide_5.html")
