@import "../_color";
@import "../_mixin";

.kv-link-control {

  ._init_block();

  display: block;
  font-size: @font-size-default;
  position: relative;

  [class*="-control"] {
    cursor: pointer;
  }
  ._link();
}