script#kv-link-control(type="text/ractive")
    .kv-link-control(id!="<{{._id}}>" class!="<{{.class}}>" name!="<{{.name}}>")
        a(href!="<{{.url}}>" on-click="clickLink" on-mouseover="linkMouseOver" on-mouseout="linkMouseOut")
            <{{#if .icon && .icon != ''}}>
            span.glyphicon(class!="glyphicon-<{{.icon}}>")
            <{{/if}}>
            <{{>content}}>
            <{{.value}}>