dataGrid(name="statisticGrid" columns="[{field: 'company', caption: 'Компания', filter: true, sort: true, width: 120}, "
+ "{field: 'amount', caption: 'Количество',filter: true,sort: true}, "
+ "{field: 'price', caption: 'Стоимость',filter: false,sort: true}]")
