@import "../_color";
@import "../_mixin";

.kv-field-btn-control {

  ._init_block();

  position: relative;
  display: block;

  .kv-field-control {
    background: inherit;
    margin: 0;
    input {
      background: @color-white;
      display: inline-block;
      height: 34px;
      border-radius: 3px 3px 3px 0;

      ._border-bottom();
    }
  }

  .kv-btn-control {
    position: absolute;
    height: 34px;
    margin: 0;
    right: 0;
    top: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &__btn-extended {
    display: block;
    margin-top: 5px;
    font-size: @font-size-default;
    color: @color-header;
    cursor: pointer;

    .caret-up {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      border-top-width: 0;
      border-bottom: 4px solid;
    }
  }
}