script#kv-field-btn-control(type="text/ractive")
    .kv-field-btn-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>" on-click="onClick")
        fieldText(name!="<{{.name}}>__text" placeholder!="<{{.placeholder}}>")
        fieldBtn(name!="<{{.name}}>__btn" icon!="<{{.icon}}>" value!="<{{.btnValue}}>")
        <{{#if ._extended }}>
        span.kv-field-btn-control__btn-extended(on-click="onBtnExtClick")
            | <{{ @this.t('fieldBtnControl.extend_filter') }}>
            span(class!="caret<{{#if ._isOpen}}>-up<{{/if}}>")
        <{{/if}}>