@import "../_color";
@import "../_mixin";

.kv-panel-control {
  position: relative;
  display: flex;
  flex-direction: column;

  ._init_block();

  &__content-wrapper {
    position: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__buttons-wrapper {

    border-top: 1px solid @color-border;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: right;

    .kv-btn-control {
      ._btn-circuit();
    }
  }
}

