script#kv-panel-control(type="text/ractive")
    .kv-panel-control.kv-hidden(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        .kv-panel-control__content-wrapper
            <{{>content}}>
        .kv-panel-control__buttons-wrapper
            button(name!="<{{.name}}>_Enter" value!="<{{ @this.t('panel.btn_enter_caption') }}>")
            button(name!="<{{.name}}>_Cancel" value!="<{{ @this.t('panel.btn_cancel_caption') }}>")