script#kv-lang-control(type="text/ractive")
    .kv-lang-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        <{{#each ._languages:idx}}>
        label(name!="<{{name}}>_<{{.value}}>" value!="<{{.value}}>")
        <{{/each}}>