script#kv-tabs-control(type="text/ractive")
    .kv-tabs-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        .kv-tabs-control__header
            <{{#each .items:idx}}>
            linkControl.kv-tabs-control_link(value!="<{{.caption}}>" url!="<{{.url}}>")
            <{{/each}}>
        .kv-tabs-control__content
            <{{>content}}>