@import "../_color";
@import "../_mixin";

.kv-tabs-control {

  ._init_block();
  display: block;
  width: ~"calc(100% - 20px)";

  &__header {
    text-align: center;
    display: block;

    .kv-link-control {
      display: inline-block;
      margin: 0;

      a {
        display: block;
        padding: 5px 10px;
      }
    }
  }

  &__content {
    width: 100%;
    display: table;
    position: relative;
  }

  .kv-active {
    border-bottom: 1px solid @color-header;
  }
}