@import "../_color";
@import "../_mixin";
// Подлючение адаптивной верстки
@import "screen_768";

.kv-menu-top-control,
.kv-menu-top-control-fixed {

  user-select: none;
  position: relative;
  z-index: 100;
  height: 50px;
  display: flex;
  ._shadow();
  ._gradient();

  /* region Логотип */
  &__logo {
    float: left;

    .kv-image-control {
      margin: 0;

      img {
        width: 110px;
        height: 50px;
        background: inherit;
      }
    }
  }
  /* endregion  */

  &__special_elem {
    position: absolute;
    tab-index: 1;
    top: 0;
    right: 75px;
    padding: 0;
    margin: 0 10px;

    .item {
      height: 50px;
      min-width: 50px;
      list-style: none;
      display: inline-block;
      position: relative;
      font-family: 'Elektra Medium Pro', serif;
      padding: 14px;
      color: @color-white;

      .kv-link-control {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        margin: 0;
        font-size: 22px;
        padding: 14px;

        color: @color-white;
        i {
          cursor: pointer;
          display: block;
          position: relative;
          color: @color-white;

          &:after {
            top: 0;
            right: 0;
            position: absolute;
            ._shadow();
            display: none;
            content: "";
            font-size: 12px;
            width: 12px;
            height: 12px;
            background: #b22222;
            border-radius: 50%;
          }
        }
      }
    }
  }

  /* region Блоки меню */
  &__elem {
    tab-index: 1;
    padding: 0;
    margin: 0 10px;
    display: flex;

    /* region Пункты блока меню */
    .item {
      max-height: 50px;
      min-width: 80px;
      cursor: pointer;
      list-style: none;
      display: inline-block;
      position: relative;
      font-family: 'Elektra Medium Pro', serif;

      &:hover {
        background: @color-hover-active;
      }

      .kv-link-control {
        text-align: center;
        margin: 0;
        cursor: inherit;

        .glyphicon {
          position: absolute;
          font-size: 18px;
          top: 8px;
          left: ~"calc( 50% - 9px )";
        }

        a {
          display: block;
          color: @color-white;
          font-size: 14px;
          padding: 27px 10px 3px 10px;
        }
      }

      .kv-link-control__no_icon {
        a {
          padding: 17px 10px 13px 10px;
        }
      }

      /* region Подменю в пункте меню */
      .sub-menu {
        z-index: 5;
        display: none;
        position: absolute;
        border: 1px solid #CDD1DA;
        box-sizing: content-box;
        padding: 0;
        min-width: 180px;
        left: 0;

        .kv-link-control {
          .glyphicon {
            position: relative;
            font-size: 13px;
            left: 0;
            top: 1px;
            padding-right: 5px;
          }
        }

        .item {
          display: block;
          background: #f2fafc;

          .kv-link-control {
            a {
              text-align: left;
              padding: 10px 10px 7px 10px;
              color: black;
            }
          }

          &:hover {
            background: @color-hover-active;

            > .kv-link-control {
              a {
                color: @color-white;
              }
            }

            > .sub-right {
              color: @color-white;
            }
          }

          .sub-right {
            position: absolute;
            top: 12px;
            right: 5px;
            color: black;
          }
        }
      }
      /* endregion */
    }
    /* endregion */

    /* region Кнопка сворачивания главных кнопок в блоке меню */
    .zip-item {
      min-width: 20px;

      > .kv-link-control {
        a {
          padding: 15px;
          height: 100%;
          span {
            display: block;
            padding-top: 8px;
          }
        }
      }
    }
    /* endregion */
  }
  /* endregion */

  /* region Блок меню справа */
  .right {
    position: absolute;
    margin-right: 0;
    right: 0;
  }

  .kv-active {
    background: @color-hover-active !important;
    > .kv-link-control {
      a {
        color: @color-white !important;
      }
    }

    .glyphicon-menu-right {
      color: @color-white !important;
    }
  }
  /* endregion */
}

/* region меню фиксированное положение */
.kv-menu-top-control-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

/* endregion */

/* region Кнопка мобильного меню */
.kv-btn-control_theme_menu {
  position: absolute;
  display: none;
  min-width: 20px;
  top: 0;
  right: 0;
  margin-right: 5px !important;
  padding: 7px;

  .glyphicon {
    margin: 0 !important;
    font-size: 24px;
    padding-bottom: 2px;
  }

  &:focus {
    background: @color-header !important;
    border-color: @color-header !important;
    &:hover {
      background: @color-hover-active !important;
      border-color: @color-hover-active !important;
    }
  }
}

/* endregion */