script#kv-menu-top-control(type="text/ractive")
    div(class!="kv-menu-top-control<{{#if .fixed}}>-fixed <{{/if}}> <{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        .kv-menu-top-control__logo
            image(url!="<{{.logoUrl}}>")
        ul.kv-menu-top-control__elem
            <{{#each .items:idx}}>
            li.item
                linkControl(class!="kv-link-control__menu <{{#if .icon == ''}}>kv-link-control__no_icon<{{/if}}>"
                value!="<{{.caption}}>" icon!="<{{.icon}}>" url!="<{{.url}}>")
                <{{#if .items}}>
                ul.sub-menu
                  <{{#each .items:idx }}>
                  li.item
                    linkControl(name!="<{{.name}}>" class!="kv-link-control__menu" value!="<{{.caption}}>" url!="<{{.url}}>")
                    <{{>sub_menu}}>
                  <{{/each}}>
                <{{/if}}>
            <{{/each}}>
            li.item.zip-item.kv-hidden
                linkControl(class="kv-link-control__menu" value="" icon="menu-down" url="#")
                <{{#if @this.getZipItems().length > 0 }}>
                ul.sub-menu
                    <{{#each @this.getZipItems()}}>
                    li.item
                        linkControl(name!="<{{.name}}>" class="kv-link-control__menu" value!="<{{.caption}}>" url!="<{{.url}}>")
                        <{{>sub_menu}}>
                    <{{/each}}>
                <{{/if}}>
        ul.kv-menu-top-control__special_elem
            li.item
                linkControl(class!="" value="" name="messages_link")
                    i.fa.fa-bell-o(aria-hidden="true")
        ul.kv-menu-top-control__elem.right
            <{{#if visible_lang === true }}>
            langControl(name!="langControl_<{{.name}}>")
            <{{/if}}>
            <{{#each .items_right:idx}}>
            li.item
                linkControl(class!="<{{#if .icon == ''}}>kv-link-control__no_icon<{{/if}}>" name!="<{{.name}}>"
                value!="<{{.caption}}>" icon!="<{{.icon}}>" url!="<{{.url}}>")
                <{{#if .items}}>
                ul.sub-menu
                    <{{#each .items:idx }}>
                    li.item
                        linkControl(name!="<{{.name}}>" class="kv-link-control__menu" value!="<{{.caption}}>" url!="<{{.url}}>")
                        <{{>sub_menu}}>
                    <{{/each}}>
                <{{/if}}>
            <{{/each}}>
        btnMobileMenu.kv-btn-control_theme_menu(name!="<{{name}}>__mobileMenuBtn" icon="menu-hamburger" value="")