@import "../_color";

@media all and (max-width: 768px) {

  .kv-menu-top-control,
  .kv-menu-top-control-fixed {
    display: block;

    &__logo {
      width: 100%;
      display: flex;
      text-align: center;

      .kv-image-control {
        margin: 0 auto;
      }
    }

    &__special_elem {
      right: 38px;
    }

    &__elem {

      border-top: 1px solid @color-hover-active;
      margin: 0;
      background: @color-header;
      width: 100%;
      display: none;
      flex-direction: column;

      .item {
        width: 100%;

        .kv-link-control {
          .glyphicon {
            padding: 0;
            margin: 0;
            font-size: 16px;
            top: 1px;
            left: 0;
            position: relative !important;
          }

          a {
            font-size: 16px;
            padding-top: 14px;
            padding-bottom: 12px;
          }
        }

        .glyphicon {
          padding-top: 5px;
          font-size: 16px;
        }
      }
    }

    .right {
      display: none;
      flex-direction: row;
      border: none;
    }
  }

  .sub-menu {
    width: 100%;
    border: none !important;
    left: 0 !important;
    top: 48px !important;

    .item {

      .kv-link-control {
        a {
          text-align: center !important;
          padding-top: 14px !important;
          padding-bottom: 12px !important;
        }
      }
    }
  }

  .kv-btn-control_theme_menu {
    display: block !important;
  }
}