script#kv-menu-item-control(type="text/ractive")
  <{{#if .items}}>
    span.sub-right.glyphicon.glyphicon-menu-right
    ul.sub-menu
      <{{#each .items:idx }}>
      li.item
        linkControl(name!="<{{.name}}>" class="kv-link-control__menu" value!="<{{.caption}}>" icon!="<{{.icon}}>"
        url!="<{{.url}}>" on-mouseover="linkMouseOver")
        <{{>sub_menu}}>
      <{{/each}}>
  <{{/if}}>