@import "../_color";
@import "../_mixin";

@font-face {
  font-family: "Elektra Light Pro";
  src: local("Elektra Light Pro"),
  url(../demo/fonts/EtelkaLight.otf),
  url(../demo/fonts/EtelkaLightItalic.otf);
}

@font-face {
  font-family: "Elektra Medium Pro";
  src: local("Elektra Medium Pro"),
  url(../demo/fonts/EtelkaLight.otf),
  url(../demo/fonts/EtelkaLightItalic.otf);
}

* {
  font-family: "Elektra Light Pro", serif;
}

body {
  margin: 0;
  background: @color-white;
  min-width: 320px;
}

* {
  user-select: none;
}

input, textarea {
  user-select: auto;
}

p {
  ._init_block();
  text-indent: 15px;
}

#kv-view {
  margin-top: 60px;
}

.kv-browser-control {
  > [class*="-control"] {
    margin: 0!important;
  }
}

.kv-col-2 {
  width: 50%;
  margin: 0 auto;
  display: block;
  float: left;
}

.kv-col {
  width: 100%;
  margin: 0 auto;
  display: block;
  float: left;
}

.event-message-wrapper {
  display: block;
  width: 300px;
  position: absolute;
  top: 65px;
  left: 15px;
  text-align: center;
}