script#kv-browser-control(type="text/ractive")
    .kv-browser-control(id!="<{{._id}}>" class!="<{{.class}}>" name!="<{{.name}}>")
        <{{>content}}>
        scrollBtn(name!="scrollBtnBrowser")
        .event-message-wrapper.alert.alert-warning.kv-hidden
