@import "../_color";
@import "../_mixin";

.kv-text-area-control {

  ._init_block();

  textarea {
    outline: none;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
    font-size: @font-size-default;
    background: @color-white;
    border: none;
    padding: 9px 5px 6px 5px;
    max-height: 120px;

    ._border-bottom();
  }
}
