script#kv-text-area-control(type="text/ractive")
    .kv-text-area-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        textarea(title!="<{{._result}}>" rows="6" placeholder!="<{{.placeholder}}>" value!="<{{._result}}>")
        <{{#if !._empty }}>
        span.kv-alert-msg
            | <{{ @this.t('memo.require') }}>
        <{{/if}}>
