@import "../_color";
@import "../_mixin";

.kv-toolbar-control {

  ._init_block();

  display: block;
  padding: 0 10px;
  min-height: 30px;
  background: inherit;

  .kv-btn-control {

    ._btn-circuit();
  }

  .kv-exports-btns-control,
  .kv-shared-btn-control {
    margin: 0;
  }

}