script#kv-accordion-control(type="text/ractive")
    .kv-accordion-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        <{{#if .items.length == 0}}>
            span
                | <{{ @this.t('accordion.not_found') }}>
        <{{else}}>
            <{{>item}}>
        <{{/if}}>