@import "../_color";
@import "../_mixin";

.kv-accordion-control {

  ._init_block();

  .accordion_open_buttons {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 9px;
    display: block;
  }

  &__item_content {
    padding: 5px;
    min-height: 40px;
  }

  &__item {
    position: relative;
    margin: 5px 0 0;
    list-style: none;
    padding: 0;
    text-align: left;

    .kv-accordion-control__item {
      .kv-label-control {
        padding-left: 15px;
        label {
          font-size: 14px;
        }
      }

      .kv-accordion-control__item_content {
        margin-left: 10px;
      }
    }

    .kv-label-control {
      cursor: pointer;
      border-radius: 5px;
      margin: 0;
      padding: 7px 10px 5px 10px;

      label {
        font-size: 16px;
      }

      &:hover {
        color: @color-white;
        ._gradient();

        ~ .accordion_open_buttons {
          color: @color-white;
        }
      }
    }

    p {
      text-indent: 0;
      margin: 0;
    }
  }

  .kv-active {
    color: @color-white;
    ._gradient();

    ~ .accordion_open_buttons {
      color: @color-white;
    }
  }
}