script#kv-accordion-control__item(type="text/ractive")
    <{{#each .items:idx}}>
        ul.kv-accordion-control__item
            label(value!="<{{.caption}}>")
            span.glyphicon.glyphicon-menu-down.accordion_open_buttons
            <{{#if .text }}>
            li.kv-accordion-control__item_content.kv-hidden
                p <{{.text}}>
            <{{/if}}>
            <{{>item}}>
    <{{/each}}>