@import "../_color";
@import "../_mixin";

.kv-radio-control {

  ._init_block();

  position: relative;

  .kv-radio-control__item {
    display: block;
    cursor: pointer;
    position: relative;

    label {
      cursor: inherit;
      font-size: 13px;
      font-weight: normal;
      display: block;
      padding: 3px 0;
      margin: 0;

      ._ellipsis();
    }

    input {
      height: 14px;
      width: 14px;

      &:not(checked) {
        left: 0;
        position: absolute;
        opacity: 0;

        + label {
          margin-left: 20px;

          &:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 10px;
            background: @color-body;
            box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
          }

          &:after {
            content: '';
            position: absolute;
            top: 6px;
            left: 3px;
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
            transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
          }
        }
      }

      &:checked {
        + label {
          &:after {
            background: @color-hover-active;
          }
        }
      }
    }
  }
}