script#kv-radio-control(type="text/ractive")
    .kv-radio-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        <{{#each ._dataSource:idx}}>
        .kv-radio-control__item
            input(type="radio" id!="<{{_id}}>_radio_<{{.id}}>" name!="<{{name}}>_radio" value!="<{{.id}}>")
            label(for!="<{{_id}}>_radio_<{{.id}}>" on-click="onClick")
                <{{.caption}}>
        <{{/each}}>