script#kv-exports-btns-control(type="text/ractive")
    .kv-exports-btns-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        <{{#if .isExcel }}>
        button(name!="<{{.name}}>_excel" icon="align-left" value="" placeholder!="<{{ @this.t('exportsBtn.placeholder_excel') }}>")
        <{{/if}}>
        <{{#if .isWord }}>
        button(name!="<{{.name}}>_word" icon="align-center" value="" placeholder!="<{{ @this.t('exportsBtn.placeholder_word') }}>")
        <{{/if}}>
        <{{#if .isPdf }}>
        button(name!="<{{.name}}>_pdf" icon="align-right" value="" placeholder!="<{{ @this.t('exportsBtn.placeholder_pdf') }}>")
        <{{/if}}>