script#kv-carousel-control(type="text/ractive")
    .kv-carousel-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        .kv-carousel-control__content
            btnLeft.kv-carousel-control_btn-move.left-btn(icon="menu-left" value="")
            <{{>content}}>
            btnRight.kv-carousel-control_btn-move.right-btn(icon="menu-right" value="")
        .kv-carousel-control_buttons
            <{{#each ._buttons:idx}}>
            btnCarousel.bottom-btn(value="")
            <{{/each}}>