@import "../_color";
@import "../_mixin";

.kv-carousel-control {

  ._init_block();

  display: block;
  position: relative;
  z-index: 90;
  padding-bottom: 20px;
  min-height: 200px;


  .kv-image-control {
    display: none;
    margin: 0;
    width: 0;
    height: 100%;
    transition: all 0.5s ease-out;
    position: absolute;
  }

  .kv-active {
    background: @color-btn !important;

    &:hover {
      background: @color-hover-active !important;
    }
  }

  &_btn-move {
    display: none;
    position: absolute;
    border-radius: 50px;
    border: 1px solid @color-btn;
    color: @color-btn;
    font-size: 16px;
    background: @color-white;
    ._shadow();

    width: 50px;
    height: 50px;
    z-index: 90;
    margin: 0;

    .glyphicon {
      margin: 0;
    }

    &:first-child {
      left: 5px;
      top: ~"calc(50% - 25px)";
    }

    &:last-child {
      right: 5px;
      top: ~"calc(50% - 25px)";
    }
  }

  &__content {
    position: relative;
    width: 100%;
  }

  &_buttons {
    width: 100%;
    position: absolute;
    bottom: 0;

    .kv-btn-control {
      border-radius: 50px;
      margin: 5px;
      padding: 5px 5px;
      min-height: 4px;
      background: @color-white;
      ._shadow();

      &:hover {
        background: @color-btn;
      }
    }
  }

  &:hover {
    .kv-carousel-control_btn-move {
      display: block;
    }
  }
}