script#kv-room-control(type="text/ractive")
    .kv-room-control(id!="<{{._id}}>" class!="<{{.class}}>" name!="<{{.name}}>")
        .webgl-content
            #gameContainer(style="width: 600px; height: 300px")
