
@media all and (max-width: 768px) {
  .portfolio-wrapper {
    &__site-wrapper {
      width: ~"calc(33.33% - 10px)"!important;
    }
  }

  .footer-address-wrapper {
    position: relative!important;
    top: 0!important;
    right: 0!important;
  }

  .license-wrapper {
    text-align: left!important;
  }

  .social-wrapper {
    margin-bottom: 40px;
  }

  .advantages-wrapper {
    .kv-col-2 {
      width: 100%;
    }

    .left-wrapper {
      .advantage-wrapper {
        flex-direction: row!important;
        p {
          text-align: left!important;
        }
      }
    }
  }

  .services-wrapper {
    .kv-frame-control {
      max-width: 320px!important;
    }
  };
}
