@import "../../../src/_color";
@import "../../../src/_mixin";

@import "screen_768";

@import "../../views/partials/info";
@import "../../views/partials/advantages";
@import "../../views/partials/clients";
@import "../../views/partials/company";
@import "../../views/partials/portfolio";
@import "../../views/partials/services";
@import "../../views/partials/site";
@import "../../views/partials/works";

@color_f: #8A27C3;
@color_b: #0293F2;

html,
body {
  height: 100%;
}

.kv-browser-control {
  display: flex;
  flex-direction: column;
}

.kv-link_theme {
  a {
    color: @color_f;
    &:hover {
      color: @color_b;
    }
  }
}

.kv-label_theme {
  label {
    text-align: center;
    font-size: 24px;
    color: black;
  }
}
/* endregion */

.section-title-wrapper {
  text-align: center;
}

.section-wrapper {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 960px;
  min-height: 250px;
  text-align: center;
  border-bottom: 1px solid @color_b;
}

.command-wrapper {

  text-align: center;
  .avatar {
    margin: 15px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid @color_f;
  }
}

.footer-wrapper {
  padding-top: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  background: linear-gradient(45deg, @color_f, @color_b);

  .footer-menu-wrapper {
    cursor: default;

    .kv-link-control {
      display: inline-block;
      a {
        color: @color-white;
        font-size: 14px;
      }
    }
  }

  .footer-address-wrapper {
    ._init_block();
    position: absolute;
    right: 0px;
    top: 15px;
    a {
      color: @color-white;
    }
    span {
      display: block;
      color: @color-white;
    }
  }

  .social-wrapper {
    span {
      display: block;
      color: @color-white;
      ._init_block();
    }
  }
}

.kv-scroll-btn-control {
  .kv-btn-control_theme {
    background: #8A27C3 !important;
  }
}

.license-wrapper {
  width: ~"calc(100% - 10px)";
  ._init_block();
  position: absolute;
  bottom: 5px;
  text-align: center;
  span {
    color: @color-white;
  }
}
