script#kv-btn-control(type="text/ractive")
    button.kv-btn-control.kv-btn-control_theme(
        class!="<{{.class}}>"
        id!="<{{._id}}>"
        name!="<{{.name}}>"
        title!="<{{.placeholder}}>"
        on-click="clickBtn"
        on-mousemove="onMouseMove")
        <{{#if .icon }}>
            span.glyphicon(class!="glyphicon-<{{.icon}}>")
        <{{/if}}>
        <{{#if .value && .value != ""}}>
            span(class!="<{{#if .icon != ''}}> btn-caption <{{/if}}>") <{{.value}}>
        <{{/if}}>