@import "../_color";
@import "../_mixin";

.kv-btn-control {

  ._init_block();

  outline: none;
  cursor: pointer;
  z-index: 0;
  font-size: @font-size-default;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  min-height: @font-size-default + 15px;

  .glyphicon {
    margin-top: 2px;
    margin-left: 2px;
  }

  .btn-caption {
    padding-left: 7px;
  }

  &:hover, &:focus, &:active {
    outline: none !important;
  }
}

.kv-btn-control_theme {

  background: @color-btn;
  border-color: @color-btn;
  color: @color-white;

  &:hover, &:focus, &:active {
    background: @color-hover-active;
    border-color: @color-hover-active;
    color: @color-white;
  }
}

/* region Кнопка имеею округлую форму */
.kv-btn-circ-theme {

  ._btn-circuit();
}
/* endregion */