script#kv-breadcrumbs-control(type="text/ractive")
    .kv-breadcrumbs-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        ul.kv-breadcrumbs-control__list
            li.kv-breadcrumbs-control__list__item
                span.glyphicon.glyphicon-th
            <{{#each .items:idx}}>
            li.kv-breadcrumbs-control__list__item
                linkControl(name!='<{{name}}>__item' value!='<{{.caption}}>' url!='<{{.url}}>')
            <{{/each}}>