@import "../_color";
@import "../_mixin";

.kv-breadcrumbs-control {

  ._init_block();

  ul {
    margin: 0;
  }

  &__list {
    position: relative;
    list-style: none;
    padding: 0;
    text-align: left;

    &__item {
      position: relative;
      font-size: @font-size-default;
      display: inline-block;
      list-style: none;
      color: @color-border;
      cursor: pointer;
      padding: 5px 5px 5px 0;

      .kv-link-control {
        margin: 0;

        &:before {
          content: '/  ';
          color: @color-border;
        }
      }

      &:not(:first-child):hover {
        color: @color-hover-active;
      }

      &:first-child {
        color: @color-header;
      }

      span {
        margin: 0 !important;
      }



      &:last-child {
        color: @color-hover-active;
      }
    }
  }
}