div.section-title-wrapper
    label.kv-label_theme(value!="<{{ @this.t('advantages.title') }}>")
    linkControl.kv-link_theme(value!="<{{ @this.t('advantages.link') }}>")
div.section-content-wrapper
    div.kv-col-2.left-wrapper
        div.advantage-wrapper
            image(url="/img/1.svg")
            p <{{ @this.t('advantages.contents.block_1') }}>
        div.advantage-wrapper
            image(url="/img/2.svg")
            p <{{ @this.t('advantages.contents.block_2') }}>
        div.advantage-wrapper
            image(url="/img/3.svg")
            p <{{ @this.t('advantages.contents.block_3') }}>
    div.kv-col-2.right-wrapper
        div.advantage-wrapper
            image(url="/img/4.svg")
            p <{{ @this.t('advantages.contents.block_4') }}>
        div.advantage-wrapper
            image(url="/img/5.svg")
            p <{{ @this.t('advantages.contents.block_5') }}>
        div.advantage-wrapper
            image(url="/img/21.svg")
            p <{{ @this.t('advantages.contents.block_6') }}>