@import "../../src/_color";
@import "../../src/_mixin";

.advantages-wrapper {
  display: flex;
  flex-direction: column;

  .advantage-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 20px;

    .kv-image-control {
      img {
        width: 80px;
      }
    }

    p {

    }
  }

  .left-wrapper {
    .advantage-wrapper {
      flex-direction: row-reverse;

      p {
        text-align: right;
      }
    }
  }

  .right-wrapper {
    .advantage-wrapper {
      p {
        text-align: left;
      }
    }
  }
}