div.section-title-wrapper
    label.kv-label_theme(value!="<{{ @this.t('clients.title') }}>>")
    linkControl.kv-link_theme(value!="<{{ @this.t('clients.link') }}>")
div.section-content-wrapper
    image(url="/img/11.png")
    image(url="/img/1222.png")
    image(url="/img/212.png")
    image(url="/img/cola.png")
    image(url="/img/ros.png")