@import "../../src/_color";
@import "../../src/_mixin";

.company-wrapper {

  .kv-tabs-control__header {
    text-align: left;
  }

  .kv-carousel-control {
    margin-left: 0;
    margin-right: 0;
  }

  p {
    margin: 10px 0;
    text-align: left;
  }

  [name*="slide"] {
    min-height: 300px;
  }

  [name="slide_2"] {
    width: 100%;
    background: url("../img/demo_1.jpg") no-repeat center;
    background-size: cover;
  }

  [name="slide_1"], [name="slide_3"] {

  }
}