div.section-title-wrapper
    label.kv-label_theme(value!="<{{ @this.t('company.title') }}>")
    linkControl.kv-link_theme(value!="<{{ @this.t('company.link') }}>")
div.section-content-wrapper
    tabs(tabDefault="commandTab")
        tab(name="commandTab" caption="company.tabs.info_company" content="text!/tabs/tab_command.html")
        tab(name="investorTab" caption="company.tabs.investors" content="text!/tabs/tab_investor.html")
    dataGrid(name="statisticGrid2" columns="[{field: 'company', caption: 'Компания', filter: true, sort: true, width: 250}, "
    + "{field: 'amount', caption: 'Количество', filter: true, sort: true}, "
    + "{field: 'price', caption: 'Стоимость', filter: false, sort: true}]", items="[" +
    "{id: 1, company: 'Квантро', amount: 100, price: 23000}]")

