label.section-title-wrapper(value!="<{{ @this.t('info.title') }}>")
div.section-content-wrapper
    div.info-buttons-wrapper
        button.kv-btn-circ-theme(name="btn1" value!="<{{ @this.t('info.btn_conn') }}>")
        button.kv-btn-circ-theme(name="btn2" value!="<{{ @this.t('info.btn_disconn') }}>")