@import "../../../src/_color";
@import "../../../src/_mixin";

.info-wrapper {
  background: url("../../assets/img/111.jpg") no-repeat center;
  min-height: 350px;
  background-size: cover;
  max-width: 100%!important;
  .section-title-wrapper {
    margin-top: 70px;
    color: #000000;

    label {
      font-size: 28px;
    }
  }

  .info-buttons-wrapper {
    margin-top: 100px;
    cursor: default;
    .kv-btn-control {
      font-weight: bold;
      margin: 5px;
      color: #8A27C3;
      border: 1px solid #8A27C3;
    }
  }
}