@import "../../../src/_color";
@import "../../../src/_mixin";

.portfolio-wrapper {

  overflow: hidden;
  &__site-wrapper {
    width: ~"calc(20% - 10px)";
    float: left;
    img {
      cursor: pointer;
      filter: grayscale(100%);
      &:hover {
        filter: none;
      }
    }
  }

  .section-content-wrapper {
    text-align: center;
  }
}