div.section-title-wrapper
    breadcrumbs(name='breadcrumbsName' items='[' +
    '{caption: "Главная", url: "#"},' +
    '{caption: "Первая страница", url: "#"},' +
    '{caption: "Вторая страница", url: "#"},' +
    '{caption: "Третья страница", url: "#"},' +
    '{caption: "Четвертая страница", url: "#"}' +
    ']')
    label.kv-label_theme(value!="<{{ @this.t('portfolio.title') }}>")
    linkControl.kv-link_theme(value!="<{{ @this.t('portfolio.link') }}>")
div.section-content-wrapper
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")
    frame.portfolio-wrapper__site-wrapper: image(url="/img/site1.jpeg")