div.section-title-wrapper
    label.kv-label_theme(value!="<{{ @this.t('services.title') }}>")
    linkControl.kv-link_theme(value!="<{{ @this.t('services.link') }}>")
div.section-content-wrapper
    frame
        dialog.dialog-theme(
            name="dialogDemo"
            modal="false"
            caption!="<{{ @this.t('services.dialog_caption') }}>"
            formTemplate="text!/forms/dialog1.html")
