@import "../../../src/_color";
@import "../../../src/_mixin";

.services-wrapper {

  .kv-frame-control {
    margin: 0 auto;
    max-width: 400px;
    box-shadow: none;
  }
  .dialog-theme {

    .kv-dialog-control__header-wrapper {
      background: #0293F2;

      .kv-label-control {
        label {
          color: @color-white;
        }
      }
    }

    .kv-dialog-control__buttons-wrapper {
      display: flex;
      margin: 0;
      padding: 0;
      border-top: none;

      .kv-btn-control {
        width: 50%;
        border: 0;
        border-radius: 0;
        margin: 5px;
        padding: 15px;

        &:hover,
        &:focus {
          ._gradient();
          ._shadow();
          color: @color-white;
        }
        &:active {
          box-shadow: none;
        }
      }
    }

    .kv-alert-msg {
    }

    margin: 0;
  }
}
