div.section-title-wrapper
    label.kv-label_theme(value!="<{{ @this.t('site.title') }}>")
    linkControl.kv-link_theme(value!="<{{ @this.t('site.link') }}>")
div.section-content-wrapper
    button.kv-btn-circ-theme.btn-theme(name="btn3" value!="<{{ @this.t('site.btn_order') }}>")
    button.kv-btn-circ-theme.btn-theme(name="btn4" value!="<{{ @this.t('site.btn_advance') }}>")
