@import "../../../src/_color";
@import "../../../src/_mixin";

.site-wrapper {
  .kv-btn-control {
    min-width: 111px!important;
    margin: 5px;
  }
  .section-content-wrapper {
    margin-top: 50px;
  }
}