div.section-title-wrapper
    label.kv-label_theme(value!="<{{ @this.t('works.title') }}>")
    linkControl.kv-link_theme(value!="<{{ @this.t('works.link') }}>")
div.section-content-wrapper
    span <{{ @this.t('works.content.block_1') }}>
    span <{{ @this.t('works.content.block_2') }}>
    accordion(name='testAccordion' items='[' +
    '{caption: "Как создать свой сайт?", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм",' +
    'items: [' +
    '{caption: "Создание макета сайта", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"},' +
    '{caption: "Создание бизнес логики сайта", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"}' +
    ']},' +
    '{caption: "Как продвинуть свой сайт?", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"},' +
    '{caption: "Как запустить свой сайт?", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм", ' +
    'items: [' +
    '{caption: "Разворачивание на сервере", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"},' +
    '{caption: "Разворачивание на хостинге", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм",' +
    'items: [' +
    '{caption: "Выбор хостинга", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"},' +
    '{caption: "Выбор провайдера", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"}' +
    ']}]},' +
    '{caption: "Как заказать свой сайт?", text: "аврыапрпа рвыапвропа ырвпавыо фыапвоыспо пфыспвмор роыапоывм"}' +
    ']')