@import "../_color";
@import "../_mixin";
// КНОПКА ПРОКРУТКИ ВВЕРХ

/* region scrollBtnUp */
.kv-scroll-btn-control {
  z-index: 1000;
  bottom: 25px;
  display: none;
  position: fixed;
  right: 25px;

  .kv-btn-control {
    ._shadow();
    color: white;
    border-radius: 50px;
    margin: 0;
    position: relative;
    background: @color-btn;
    padding: 15px;
    font-size: 18px;
    top: 0;
    left: 0;

    .glyphicon {
      z-index: 1000;
      margin: 0;
      padding-bottom: 2px;
      padding-left: 2px;
    }
  }
}

/* endregion */