@import "../_color";
@import "../_mixin";

.kv-load-panel-control {

  ._init_block();
  display: flex;

  .kv-image-control {
    margin: 0;
    width: 18px;
    height: 18px;
  }

  .kv-label-control {
    font-size: @font-size-default;
    font-weight: normal;
    margin: 1px 0 0 5px;
  }
}