script#kv-load-panel-control(type="text/ractive")
    .kv-load-panel-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        image(name!="<{{.name}}>_image" url="/img/load.gif" _alt="")
        label(name!="<{{.name}}>_label" value!="<{{ @this.t('loadPanel.load_caption') }}>")