@color-header: #0293F2;//#86AB87;
@color-hover-active: #064B96;//#69886A;
@color-search: #0293F2; //#C9E1CA;
@color-body: #F2F6F2;
@color-btn: #0293F2;//#86AB87;
@color-border: black;
@color-white: #ffffff;

//Fonts
@font-size-default: 14px;