@import "_color";
@import "_mixin";

._link();

* {
  user-select: none;
}

.kv-hidden {
  display: none !important;
}

// Предупреждение
.kv-alert-msg {
  padding-top: 3px;
  font-size: 12px;

  &:before {
    content: '* ';
    color: red;
  }
}

// Предупреждение о провущенном значении
.kv-alert-warning {
  input, textarea {
    border-bottom-color: orange;

    &:hover, &:focus {
      border-bottom-color: darkorange !important;
    }
    &:focus {
      color: #000;
    }
  }
}

// Предупреждение об ошибке
.kv-alert-error {
  input, textarea {
    border-bottom-color: red;
    color: red;

    &:hover, &:focus {
      border-bottom-color: firebrick !important;
    }
    &:focus {
      color: #000;
    }
  }
}
