@import "_color";

/* Инициализация подложки для компонента */
._init_block(@margin: 5px 10px) {
  margin: @margin;
  position: relative;
  cursor: default;
}

._init_block_p(@padding: 5px 10px) {
  padding: @padding;
  position: relative;
  cursor: default;
}
/* endregion */

/* Тень */
._shadow() {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

._gradient() {
  background: linear-gradient(45deg, #8A27C3, #0293F2);
}

/* region Кнопка с контуром */
._btn-circuit(@default-color: @color-border, @font-size: @font-size-default, @hover-color: @color-hover-active) {

  &,
  &:hover,
  &:focus {
    background: inherit;
    border: 1px solid @default-color;
    color: @default-color;
    padding: 6px 15px 4px 15px;

    border-radius: 100px;
    font-size: @font-size;

    position: relative;
    outline: none;

    .glyphicon {
      position: absolute;
      left: 4px;
      top: 4px;
    }

    &:hover,
    &:focus {
      border-color: @hover-color;
      color: @hover-color;
    }
  }
}

/* region Настройка ширины кнопки если нет текста */
._btn_icon() {
  .kv-btn-control,
  .kv-btn-control:hover,
  .kv-btn-control:focus {
    min-width: 26px;
    width: 26px !important;
  }
}
/* endregion */

/* endregion */

/* region checkBox */
._check_box() {

  @size: 14px;
  @size-active: 8px;

  input {
    position: relative;
    margin: 0 auto;

    &:not(checked) {
      opacity: 0;

      + label {
        cursor: pointer;
        top: 0;
        left: 3px;
        position: absolute;

        &:before {
          content: '';
          position: absolute;
          width: @size;
          height: @size;
          border-radius: 4px;
          background: @color-body;
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
        }

        &:after {
          content: '';
          position: absolute;
          top: (@size - @size-active) / 2;
          left: (@size - @size-active) / 2;
          width: @size-active;
          height: @size-active;
          border-radius: 2px;
          background: #FFF;
          box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
          transition: all .2s;
        }
      }
    }

    &:checked {

      + label {

        &:after {
          background: @color-hover-active;
        }
      }
    }
  }
}

/* endregion */

/* region Граница нижняя у Control */
._border-bottom() {
  border-bottom: 1px solid @color-white;

  &:focus {
    border-bottom: 1px solid @color-hover-active;

    &:hover {
      border-bottom: 1px solid @color-hover-active;
    }
  }

  &:hover {
    border-bottom: 1px solid @color-border;
  }
}

/* endregion */

/* region вывод в одну строку с троеточием */
._ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* endregion */

/* region Поведение ссылки */
._link(@color: @color-header, @color-hover: @color-hover-active) {

  a {
    color: @color;
    cursor: pointer!important;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: @color-hover;
    }

    &:focus {
      text-decoration: none;
    }

    &:visited {
      text-decoration: line-through;
    }
  }
}
/* endregion */
