script#kv-list-control(type="text/ractive")
    .kv-list-control(id="<{{._id}}>" class="<{{.class}}>" name="<{{.name}}>")
        <{{#each .items:idx }}>
        <{{>content}}>
        <{{/each}}>
        <{{#if .items.length === 0}}>
        p Data not found
        <{{/if}}>
