script#kv-label-control(type="text/ractive")
    .kv-label-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>" on-click="labelClick")
        <{{#if .icon != ''}}>
        span.glyphicon(class!="glyphicon-<{{.icon}}>")
        <{{/if}}>
        label <{{.value}}>