@import "../_color";
@import "../_mixin";

.kv-label-control {

  ._init_block();

  display: block;

  label {
    margin: 0;
    cursor: inherit;
    font-size: @font-size-default;
    font-family: 'Elektra Medium Pro', serif;
  }
}