@import "../_color";
@import "../_mixin";

.kv-frame-control {
  position: relative;
  display: flex;
  flex-direction: row;
  ._init_block(5px);
  border-radius: 4px;
  min-height: 100px;

  &:hover {
    ._shadow();
  }

  .kv-frame-control__content {
    ._init_block(3px);
    border-radius: 3px;
    background: @color-white;
    z-index: 93;
    width: 100%;
  }

  .kv-frame-control__background {
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 92;
    opacity: 0.5;
    ._gradient();
  }
}