script#kv-frame-control(type="text/ractive")
    .kv-frame-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        .kv-frame-control__content <{{>content}}>
        .kv-frame-control__background