@import "../_color";
@import "../_mixin";

.kv-field-control {

  ._init_block();

  display: block;
  width: ~"calc(100% - 20px)";

  input {
    width: 100%;
    padding: 9px 5px 6px 5px;
    font-size: @font-size-default;

    ._ellipsis();

    border: none;
    background: @color-white;
    box-shadow: none;
    outline: none;

    ._border-bottom();
  }
}