script#kv-field-control(type="text/ractive")
    .kv-field-control(class!="<{{.class}}>" id!="<{{._id}}>" name!="<{{.name}}>")
        input(type!="<{{.type}}>"
              placeholder!="<{{.placeholder}}>"
              value!="<{{._result}}>"
              on-keydown="onKeyDown"
              title!="<{{#if .type != 'password'}}> <{{._result}}> <{{/if}}>")
        <{{#if !._empty }}>
        span.kv-alert-msg <{{ @this.t('fieldControl.require') }}>
        <{{/if}}>